#arr_container {
   margin-top: 50 px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
}
nav{
    display: flex;
}
.container{
    margin-top: 35px;
}